*~
*.a
*.lo
*.mode1v3
*.o
*.pbxuser
*.so
*.swp
*.xcodeproj
.DS_Store
.deps
.dirstamp
a.out
xcuserdata
/freeradius/
/freeradius.tmp/
/freeradius.tar.gz
/freeradius.tar.gz.tmp
/rlm_totp_code-*.*/
/rlm_totp_code-*.*.tar*
