*~
*.a
*.lo
*.mode1v3
*.o
*.pbxuser
*.so
*.swp
*.xcodeproj
.DS_Store
.deps
.dirstamp
a.out
freeradius/
freeradius-server/
freeradius-server.tmp/
freeradius-server.tar.gz
freeradius-server.tar.gz.tmp
freeradius-server-*.*.*/
xcuserdata
